.carousel{
    width: 100%;
    max-height: 300px;

}

.opinion{
    max-height: 280px;
    padding: 1rem;
    border: 1px solid #ccc;
    margin: 1rem;
    border-radius: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    
    &__name{
        font-size: 1.5rem;
        font-weight: bold;
    }
    &__text{
        font-size: 1.2rem;
        font-weight: 300;
       
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;  
        overflow: hidden;
      
    }
  
}

.button {
	margin: 2rem 0 4rem 0;
	background-color: #bf9b2e;
	color: #fff;
	font-family: 'cormorant garamond', serif;
	padding: 1rem 2rem;
    margin: 2rem auto;
	border-radius: 5px;
	font-size: 2rem;
	font-weight: 700;
	transition: background-color 0.3s ease-in-out;
	&:hover {
		background-color: #91731b;;

	}
}
.more{
    width: 100%;
    display: flex;
}
.subtitle{
    font-size: 2.5rem;
    font-weight: 700;
    margin: 2rem auto;
    text-align: center;
}